<div class="row">
  <div class="col-md-12 col-sm-6">
    <div class="headline">
      <h3>Погода в Минске</h3>
    </div>
    <style>
        .gsIContent table { width: 100% !important; }
    </style>
    <div id="gsInformerID-ypUnMOu2Y160f0" class="gsInformer" style="width:240px;height:107px">
      <div class="gsIContent">
        <div id="cityLink" style="display: none;">
          <a href="http://www.gismeteo.by/city/daily/4248/" target="_blank">Погода в Минске</a>
        </div>
        <div class="gsLinks" style="display: none;">
          <table>
            <tbody><tr>
              <td>
                <div class="leftCol">
                  <a href="http://www.gismeteo.by" target="_blank">
                    <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.by/static/images/informer2/logo-mini2.png" />
                    <span>Gismeteo</span>
                  </a>
                </div>
                <div class="rightCol">
                  <a href="http://www.gismeteo.by/city/weekly/4248/" target="_blank">Прогноз на 2 недели</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="http://www.gismeteo.by/ajax/getInformer/?hash=ypUnMOu2Y160f0" type="text/javascript"></script>
  </div>
</div>